body {
    overflow-x: hidden;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/bg.svg") #678ADE;
    background-size: 128px;
}
.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    transition: all .2s ease-in-out;
}
.header {
    display: flex;
    margin: auto;
    max-width: 968px;
    width: 100%;
    font-size: 15pt;
    transition: all .15s ease-in-out;
}
.header__ul {
    display: flex;
    list-style-type: none;
    gap: 35px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.header__ul__li {
    display: flex;
    align-self: center;
}
.header__ul__li__a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;
    position: relative;
}
.header__ul__li-logo {
    margin-right: auto;
}
.header__ul__li__logo {
    display: inline-flex;
}
.header__ul__li__a__logo {
    height: 64px;
    transition: all .15s ease-in-out;
    margin: 5px;
}
.header__ul__li__a__logo:hover {
    background: #eee3;
}
.header-scrolled {
    background: #333;

    /*box-shadow: 0 5px 8px 0 #222;*/

    /*background: url("../assets/bg.svg") #333;*/
    /*background-size: 80px;*/
}
.header-scrolled .header {
    font-size: 11.5pt;
}
.header-scrolled .header__ul__li__a__logo {
    height: 32px;
}
.undreline-animation:before {
    right: 50%;
    transform: translateX(50%);
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    background: #FFF;
    bottom: 0;
    transition: all .15s ease-in-out;
}
.undreline-animation:hover:before {
    width: 100%;
}
.main {
    max-width: 968px;
    color: #FFF;
    margin: 100px auto;
}
.label-container {
    height: 566px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.label__h1 {
    font-size: 132pt;
    margin: 0;
}



.footer {
    margin-top: 100px;
    padding: 20px 10px;
    background: #333;
    display: flex;
}

.footer-container {
    margin: auto;
    max-width: 968px;
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
}

.footer__block__h {
    margin: 0 0 5px 0;
}
.footer__block__article__ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer__block__article__ul__li__a {
    text-decoration: none;
    color: #FFF;
}
.footer__block__article__ul__li__a:hover {
    text-decoration: underline;
}