html {
    height: 100%;
}
body {
    overflow-x: hidden;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #101010;
    box-sizing: border-box;
}
.header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100%;
    z-index: 2;
}
.header__container {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.swiper, .swiper-wrapper {
    height: 100vh;
    width: 100vw;
}
.swiper-btn {
    background: none;
    border: none;
    color: #fff !important;
}
.header__logo {
    height: 100%;
    animation: showup__top-bot 1s ease-in-out;
}
.header__nav {
    display: flex;
    align-items: center;
}
.header__nav > button {
    color: white;
    background: none;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 10px;
    transition: .1s ease-in-out;
    border: none;
    cursor: pointer;
    position: relative;
}
.header__nav > button:after {
    content: "";
    width: 0;
    height: 0;
    left: 0;
    background: #FFFFFF;
    position: absolute;
    bottom: 0;
    transition: .1s ease-in-out;
}
.header__nav > button:hover:after {
    height: 2px;
    width: 100%;
}
.header__nav > button:nth-child(1) {
    animation: showup__top-bot 1s ease-in-out;
}
.header__nav > button:nth-child(2) {
    animation: showup__top-bot 1s ease-in-out .3s backwards;
}
.header__nav > button:nth-child(3) {
    animation: showup__top-bot 1s ease-in-out .6s backwards;
}
.section {
    padding: 1px;
    position: relative;
    background-color: white;
}
.section-unit {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 7rem 1rem;
    box-sizing: border-box;
}
.section__h {
    font-size: 3rem;
}
.section__article {
    font-size: 1.3rem;
    width: 100%;
}
.section__article > h3 {
    margin: 0;
}
.section__article > p {
    margin: 0;
}
.section__article__h3 {
    font-size: 1.7rem;
}
.section__ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}
.section__ul > li {
    display: inline;
}
.section__ul > li:after {
    content: ','
}
.section__ul > li:last-child:after {
    content: '.'
}
.section__ul > li > a {
    text-decoration: none;
    font-weight: 600;
}
.section__ul > li > a:hover {
    text-decoration: underline;
}
.section__combinator {
    display: flex;
    justify-content: space-between;
}
.section__img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 2rem;
    margin-left: 15rem;
    display: block;
}
.section__h4 {
    display: inline;
    margin: 0;
}
.section__h3 {
    font-size: 2rem;
}
.section__state {
    font-weight: 600;
    opacity: .65;
}
.section-showup {
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.showup__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: blur(5px) brightness(.6);
    z-index: -1;
    animation: showup__blur 1.5s ease-in-out;
}
.showup__container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    max-width: 1100px;
    margin: auto;
    padding: 0 5rem;
    box-sizing: border-box;
}
.showup__container__logo {
    width: 100%;
    height: fit-content;
    max-width: 300px;
    animation: showup__top-bot 1.5s ease-in-out;
    object-fit: contain;
    align-self: center;
    border-radius: 3rem;
}
.showup__container__card {
    color: white;
    width: 100%;
    margin: auto 0 auto 6rem;
}
.showup__container__card__h1 {
    animation: showup__top-bot 1s ease-in-out .5s backwards;
}
.showup__container__card__article {
    animation: showup__top-bot 1s ease-in-out .7s backwards;
}
.showup__container__actions {
    animation: showup__top-bot 1s ease-in-out 1s backwards;
}
@keyframes showup__blur {
    0% {
        filter: blur(30px) brightness(.2);
        transform: translateY(50px);
        opacity:0;
    }
    100% {
        filter: blur(5px) brightness(.6);
        transform: translateY(0%);
        opacity:1;
    }
}
@keyframes showup__bot-top {
    0% {
        transform: translateY(50px);
        opacity:0;
    }
    100% {
        transform: translateY(0%);
        opacity:1;
    }
}
@keyframes showup__top-bot {
    0% {
        transform: translateY(-50px);
        opacity:0;
    }
    100% {
        transform: translateY(0%);
        opacity:1;
    }
}
@keyframes showup__left-right {
    0% {
        transform: translateX(-50px);
        opacity:0;
    }
    100% {
        transform: translateX(0%);
        opacity:1;
    }
}
@keyframes showup__right-left {
    0% {
        transform: translateX(50px);
        opacity:0;
    }
    100% {
        transform: translateX(0%);
        opacity:1;
    }
}
.showup__container__card__h1 {
    font-size: 2.5rem;
    line-height: 2.7rem;
    margin: 0;
    margin-bottom: 1rem;
}
.showup__container__card__article {
    font-size: 1.5rem;
}
.showup__container__card__article > p {
    margin: 0;
}
.showup__container__card__article-hint {
    font-size: .8rem;
    opacity: .8 ;
}
.showup__container__actions {
    margin-top: 2rem;
}
.showup__link {
    background: white;
    color: black;
    text-decoration: none;
    padding: 6px 24px;
    border-radius: 5px;
    transition: .1s;
}
.showup__link:hover {
    background: #CCCCCC;
}
.showup__link-additional {
    color: white;
    text-decoration: none;
    padding: 6px 24px;
    border-radius: 5px;
    transition: .1s;
}
.showup__link-additional {
    color: white;
    text-decoration: none;
    padding: 6px 24px;
}
.showup__link-additional:hover {
    text-decoration: underline;
}
.section--stuff {
    padding: 3rem 0 9rem 0;
    color: white;
    background: rgb(9,9,121);
    background: linear-gradient(0, rgba(9,9,121,1) 0%, rgba(135,5,193,1) 100%);
}
.section--stat {

}
.section--discord {
    color: white;
    background-color: #232323;
}
.box {
    background-color: white;
    border-radius: 2rem;
    padding: 1.5rem 2rem;
    color: black;
    margin: 1rem 0;
}

.shape-divider-bot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 2;
}
.shape-divider-bot > svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
}
.shape-divider-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.shape-divider-top > svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
}
.fill--white > svg {
    fill: #FFFFFF;
}
.fill--blue > svg {
    fill: #2bbbe5;
}
.fill--gray > svg {
    fill: #232323;
}
.fill--black > svg {
    fill: #101010;
}
.divider {
    padding-bottom: 20rem;
}
.footer-container {
    margin: auto;
    max-width: 968px;
    width: 100%;
    color: #fff;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 5rem;
    margin-top: -5rem;
    z-index: 3;
    position: relative;
}
.footer__block__article__ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer__block__article__ul__li {
    margin: 0;
    padding: 0;
}
.footer__block__article__ul__li__a {
    text-decoration: none;
    color: #fff;
}
.footer__block__article__ul__li__a:hover {
    text-decoration: underline;
}
.element-animation {
    opacity: 0;
    transform: translateY(20px);
}
.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}
.section__line {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 1rem;
}
.section__line__container {
    padding: 0 2rem;
}

@media (max-width: 820px) {
    .section-showup {
        height: unset;
    }
    .showup__container {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 100px;
    }
    .showup__container__logo {
        display: none;
    }
    .showup__container__card {
        margin: 0;
    }
    .showup__container {
        padding: 4rem;
        box-sizing: border-box;
    }
    .swiper, .swiper-wrapper {
        height: unset;
    }
    .shape-divider-top > svg {
        height: 50px;
    }
    .shape-divider-bot > svg {
        height: 50px;
    }
    .section__combinator {
        flex-direction: column-reverse;
    }
    .section__img {
        margin: 0 auto;
    }
    .footer-container {
        grid-template-columns: 1fr;
        padding: 0 5rem 5rem 5rem;
        box-sizing: border-box;
    }
    .showup__container__card__h1 {
        font-size: 2rem;
        margin: 0;
    }
    .showup__container__card__article {
        font-size: 1rem;
    }
    .header__nav {
        flex-direction: column;
    }
    .header {
        height: unset;
        background: #23232333;
    }
    .header__container {
        flex-direction: column;
    }
    .header__logo {
        height: 60px;
    }
    .section__line__frame {
        margin: 0 auto;
    }
}