html {
    height: 100%;
}
body {
    overflow-x: hidden;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #232333;
    box-sizing: border-box;
}
.header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100%;
    z-index: 1;
}
.header__container {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.header__logo {
    height: 100%;
    animation: showup__top-bot 1s ease-in-out;
}
.header__nav {
    display: flex;
    align-items: center;
}
.header__nav > a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 10px;
}
.header__nav > a:nth-child(1) {
    animation: showup__top-bot 1s ease-in-out;
}
.header__nav > a:nth-child(2) {
    animation: showup__top-bot 1s ease-in-out .3s backwards;
}
.header__nav > a:nth-child(3) {
    animation: showup__top-bot 1s ease-in-out .6s backwards;
}
.section {
    padding: 1px;
    position: relative;
    background-color: white;
}
.section-unit {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 7rem 0;
}
.section__h {
    font-size: 3rem;
}
.section__article {
    font-size: 1.3rem;
}
.section__article > h3 {
    margin: 0;
}
.section__article > p {
    margin: .5rem 0;
}
.section__combinator {
    display: flex;
    justify-content: space-between;
}
.section__img {
    width: 20rem;
    margin-left: 15rem;
    display: block;
}
.section-showup {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.showup__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: blur(5px);
    z-index: -1;
}
.showup__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1280px;
}
.showup__container__logo {
    width: 100%;
    height: 100%;
    max-width: 600px;
    animation: showup__left-right 1.5s ease-in-out;
}
.showup__container__card {
    color: white;
    margin: auto 0 auto 8rem;
    animation: showup__bot-top 1.5s ease-in-out;
}
@keyframes showup__bot-top {
    0% {
        transform: translateY(50%);
        opacity:0;
    }
    100% {
        transform: translateY(0%);
        opacity:1;
    }
}
@keyframes showup__top-bot {
    0% {
        transform: translateY(-50%);
        opacity:0;
    }
    100% {
        transform: translateY(0%);
        opacity:1;
    }
}
@keyframes showup__left-right {
    0% {
        transform: translateX(-50%);
        opacity:0;
    }
    100% {
        transform: translateX(0%);
        opacity:1;
    }
}
.showup__container__card__h1 {
    font-size: 4rem;
    margin: 0;
}
.showup__container__card__article {
    font-size: 1.5rem;
}
.showup__container__card__article > p {
    margin: 0;
}
.showup__container__actions {
    margin-top: 2rem;
}
.showup__link {
    background: #FFFFFF;
    color: black;
    text-decoration: none;
    padding: 6px 24px;
    border-radius: 5px;
    transition: .1s;
}
.showup__link:hover {
    background: #CCCCCC;
}
.section--stuff {
    color: white;
    background-color: #2bbbe5;
}
.section--stat {

}
.section--discord {
    color: white;
    background-color: #232323;
}

.shape-divider-bot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.shape-divider-bot > svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
}
.shape-divider-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.shape-divider-top > svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
}
.fill--white > svg {
    fill: #FFFFFF;
}
.fill--blue > svg {
    fill: #2bbbe5;
}
.fill--black > svg {
    fill: #101010;
}
.footer {
    background-color: #101010;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}
.footer__container {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 5rem;
}
.footer__section {
    color: white;
}
.divider {
    padding-bottom: 20rem;
}